:root{
    margin:0;
    padding:0;
}

#container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;
    width:100%;
}

img{
    width:130px;
    margin: 0;
    padding:0;
}
nav {
    /*background-color:lightblue;*/
    color:white;
    background-color: lightblue;
    display:inline;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
    margin: auto;
    border-radius: 10px;
    }

nav ul li {   
    display:inline;
    font-size: 20px;
    padding:40px;
    
  
    }

nav ul li a{   
    
    text-decoration: none;
    color:gray;
    
    }
a:hover{
    color: blue;
    
}

