:root{
    margin:0;
    padding:0;
}

#container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;
    width:100%;    
}



img{
    width:110px;
    margin-left: 10px;
    padding:0;
}
nav {
    /*background-color:lightblue;*/
    color:white;
    background-color: lightblue;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
    margin: auto;
    border-radius: 10px;
    }

nav ul {   
    display:flex;
    justify-content:space-between;
    font-size: 20px;
  }

nav ul li{
    display: inline;
    padding:10px;
      
}


nav ul li a{   
    
    text-decoration: none;
    color:gray;
    padding:10px;
    margin:10px;
}

a:hover{
    color: blue;
    
}

nav ul li ul{
    display: none;
    
}


nav ul li ul li.vertical{
    display:block;
   
}
